@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#personal-bookmarks .bookmark-item:not([container="true"]) .toolbarbutton-icon {
 display: none !important;
}

#personal-bookmarks .bookmark-item {
  color: #444;
  font-family: Iosevka Term;
  font-size: 11px;
  cursor: pointer;
}

#tabbrowser-tabs .tabbrowser-tab .tab-close-button { 
  display: none; 
}
#tabbrowser-tabs .tabbrowser-tab:not([pinned="true"]):hover .tab-close-button { 
  display: block !important;
}

/* bookmarksbar_on_new_tabs_only */
:root[title$=" - Mozilla Firefox"] #PersonalToolbar,
:root[title$=" - Mozilla Firefox (Private Browsing)"] #PersonalToolbar,
:root[title$=" - Firefox Nightly"] #PersonalToolbar,
:root[title$=" - Firefox Nightly (Private Browsing)"] #PersonalToolbar{ visibility: collapse; }
/* about:home or something can have a "New Tab" prefix */
:root[title="New Tab - Mozilla Firefox"] #PersonalToolbar,
:root[title="New Tab - Mozilla Firefox (Private Browsing)"] #PersonalToolbar,
:root[title="New Tab - Firefox Nightly"] #PersonalToolbar,
:root[title="New Tab - Firefox Nightly (Private Browsing)"] #PersonalToolbar{ visibility: visible; }
/* Short delay to prevent being shortly visible during tab restore */
#PersonalToolbar{ transition: visibility 0ms linear 200ms !important}
