@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#personal-bookmarks .bookmark-item:not([container="true"]) .toolbarbutton-icon {
 display: none !important;
}

#personal-bookmarks .bookmark-item {
  color: #444;
  font-family: Iosevka Term;
  font-size: 11px;
  cursor: pointer;
}

#tabbrowser-tabs .tabbrowser-tab .tab-close-button { 
  display: none; 
}
#tabbrowser-tabs .tabbrowser-tab:not([pinned="true"]):hover .tab-close-button { 
  display: block !important;
}

