[submodule "vim/bundle/vim-rooter"]
	path = vim/bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "vim/bundle/ack-vim"]
	path = vim/bundle/ack-vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
